/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav {
	max-width: 910px;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
}

.logo {
	vertical-align: middle;
	margin-left: 15px;
}

.circle-code {
	height: 100%;
	width: 100%;
}

.circle-code-image-section {
	display:flex;
	max-width: 379px;
	max-height: 379px;
}

.middle-img {
	width: 100%;
}

.services-header-img {
	width: 100%;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
	color: gray;
	vertical-align: middle;
	font-weight: bold;
	font-size: 15px;
}

html {
	margin-left: auto;
	margin-right: auto;
	max-width: 910px;
	align: center;
	
}

head {
	align: center;
}

footer {
	align: center;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
	
}

.services-header {
	margin-bottom: 45px;
	line-height: 1.2;
}

.services-container {
	width: 100%;
	min-height: 830px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.services-section {
	display: flex;
	/*max-width: 435px;*/
    width: 48%;
	flex-direction: column;
	background-color: Whitesmoke;
	border: 1px solid black;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	line-height: 1.2;
    margin-bottom: 20px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.inner-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 60px;
    align-items: center;
}

.middle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 70px;
  align-items: center;
}

.slogan-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 75px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Bangers', cursive;
	margin-bottom: 20px;
}

.lower-container {
	display: flex;
	/*flex-wrap: wrap;*/
	width: 100%;
	min-height: 310.7px;
	justify-content: space-between;
	margin-bottom: 90px;
}

.services-info-img {
	width: 48%;
	height: auto;
}

.service-facts-container {
	display:flex;
	flex-direction: column;
	max-width: 435px;
	line-height: 1.2;
    width: 48%;
	
}

.service-facts-image-section{
	display:flex;
	/*max-width: 435px;*/
    max-width: 48%;
    height: auto;
	/*max-height: 100%;*/
}

.service-facts-section {
	display: flex;
	max-width: 415px;
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: 20px;
	line-height: 1.9;
}

.service-facts {
	color: black;
	font-weight: normal;
}

ul{
	display: flex;
	flex-direction: column;
	color: black;
	font-weight: normal;
}

.slogan {
	vertical-align: middle;
	font-size: 60px;
	text-align: center;
	font-family: 'Bangers', cursive;
}

.content-row{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
    justify-content: space-between;
}

.content-width-top {
    max-width: 46%;
	margin-bottom: 20px;
}

.content-width-bot {
    max-width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	background: white;
	border: 1px solid black;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	vertical-align: middle;
	max-width: 155px;
	height: 32px;
}

.get-started-button {
	width: 155px;
	margin-top: 20px;
}

.learn-more-container {
	margin-top: 20px;
}

.learn-more-button {
	max-width: 150px;
	height: 38px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 12px;
	color: black;
	align: center;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 20px;
	vertical-align: middle;
}

line {
	display: flex;
    height: 1px;
	width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
	margin-bottom: 40px;
}

line2 {
	display: flex;
    height: 1px;
	width: 100%;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

line3 {
	display: none;
}

h2 {
	font-size: 26px;
	font-weight: bold;
}

@media(max-width:800px){
	.container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
        align-items: center;
    }

    .inner-container {
        margin-right: 0px;
    }

    .content-row{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 96%; 
        margin-right: 2%;
        margin-left: 2%; 
    }

    .content-width-top {
        max-width: 46%;
        /*margin-right: 2%;*/
    }

    .content-width-top:last-child {
        margin-right: 0;
    }

    .content-width-bot {
        max-width: 30%;
    }

    .content-width-bot:last-child {
        margin-right: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .circle-code {
        display: none;
    }

    .middle-container {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contact {
        margin-left: 2%;
    }

    line {
        border-top: 2px solid black;
    }

    line3 {
        display: none;
    }

    /* Services page */
    /*.service-facts-section {
        display: flex;
        max-width: 415px;
        margin-top: 25px;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 1.9;
    }*/

    .services-container {
        width: 96%;
        min-height: 830px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        margin-left: 2%;
        margin-right: 2%;
    }

    .lower-container {
        display: flex;
        /*flex-direction: column;*/
        /*flex-wrap: wrap;*/
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        min-height: 310.7px;
        justify-content: middle;
        align-items: center;
        margin-bottom: 90px;
    }

    .service-facts-container {
        display:flex;
        flex-direction: column;
        max-width: 100%;
        width: 48%;
        line-height: 1.2;
        
    }

    .service-facts-image-section{
        display:flex;
        max-width: 435px;
        width: 48%;
        max-height: 310.7px;
    }

    .services-info-img {
        width: 48%;
        height: 48%;
    }
    /*.services-section {
        display: flex;
        max-width: 435px;
        flex-direction: column;
        background-color: Whitesmoke;
        border: 1px solid black;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        line-height: 1.2;
    }*/
}

@media(max-width:500px){
	.container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }

    line3 {
        display: flex;
        height: 1px;
        width: 100%;
        border: 0;
        border-top: 1px solid black;
        margin: 1em 0;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .inner-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0px;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .circle-code {
        display: none;
    }

    .middle-container {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    line {
        border-top: 2px solid black;
        margin-bottom: 30px;
    }

    .features {
        margin-bottom: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: middle;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;

    }

    .content-row{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .content-width-top {
        max-width: 100%;
        margin-right: 0;
    }

    .content-width-bot {
        max-width: 100%;
        margin-right: 0px;
    }

    .content-width-bot:last-child {
        margin-bottom: 0px;
    }

    .contact {
        margin: 0;
    }

    /* Services Page */
    .services-container {
        width: 96%;
        min-height: 830px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    .services-section {
        display: flex;
        max-width: 435px;
        width: 100%;
        flex-direction: column;
        background-color: Whitesmoke;
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        line-height: 1.2;
    }

    .lower-container {
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        min-height: 310.7px;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 90px;
    }

    .service-facts-container {
        display:flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        line-height: 1.2;
        
    }

    .services-info-img {
        width: 100%;
        height: auto;
    }
}